<div class="navigation-bar">
    <ul>
        <li><a href="/resourceMgnt/host?assetID={{assetID}}">主机情况</a></li>
        <li><a href="/resourceMgnt/net?assetID={{assetID}}">网络</a></li>
        <li><a href="/resourceMgnt/oracle?assetID={{assetID}}">Oracle</a></li>
        <li class="active"><a href="/resourceMgnt/jboss?assetID={{assetID}}">JBOSS</a></li>
        <li><a href="/resourceMgnt/weblogic?assetID={{assetID}}">WEBLOGIC</a></li>
        <li><a href="/resourceMgnt/tuxedo?assetID={{assetID}}">Tuxedo</a></li>
        <li><a href="/resourceMgnt/monitorItem?assetID={{assetID}}">监控项</a></li>
    </ul>
</div>