<link rel="stylesheet" href="/css/index.css"/>
<div class="main j-main">
    <div class="content-block j-content-block">
        <div class="title j-title j-warn-title">
            <span class="main-icon warn"></span>
            <span class="main-title">告警一览</span>
            <a href="javascript:;" data-cat="all">全部</a>
            <a href="javascript:;" data-cat="host">主机</a>
            <a href="javascript:;" data-cat="db">数据库</a>
            <a href="javascript:;" data-cat="mw">中间件</a>
            <a href="javascript:;" data-cat="net">网络</a>
            <span class="tool">
                <span class="main-icon refresh" data-type="warn"></span>
            </span>
        </div>
        <div class="chart-container j-chart-warn">
            <div class="half-chart j-chart-warn-bar"></div>
            <div class="half-chart j-chart-warn-pie"></div>
        </div>
    </div>
    <div class="content-block j-content-block">
        <div class="title j-title">
            <span class="main-icon trade"></span>
            <span class="main-title">交易一览</span>
            <span class="tool">
                <span class="main-icon refresh" data-type="trade"></span>
            </span>
        </div>
        <div class="chart-container j-chart-trade"></div>
    </div>
    <div class="content-block j-content-block">
        <div class="title j-title">
            <span class="main-icon machine"></span>
            <span class="main-title">主机一览</span>
            <span class="tool">
                <span class="main-icon refresh" data-type="machine"></span>
            </span>
        </div>
        <div class="chart-container j-chart-machine"></div>
    </div>
    <div class="content-block j-content-block">
        <div class="title j-title">
            <span class="main-icon database"></span>
            <span class="main-title">数据库一览</span>
            <span class="tool">
                <span class="main-icon refresh" data-type="database"></span>
            </span>
        </div>
        <div class="chart-container j-chart-database"></div>
    </div>
    <!--<div class="content-block j-content-block">
        <div class="title j-title">
            <span class="main-icon net"></span>
            <span class="main-title">网络一览</span>
            <span class="tool">
                <span class="main-icon refresh"></span>
            </span>
        </div>
        <div class="chart-container j-chart-warn"></div>
    </div>
    <div class="content-block j-content-block">
        <div class="title j-title">
            <span class="main-icon trade"></span>
            <span class="main-title">中间件一览</span>
            <span class="tool">
                <span class="main-icon refresh"></span>
            </span>
        </div>
        <div class="chart-container j-chart-trade"></div>
    </div>
    <div class="content-block j-content-block">
        <div class="title j-title">
            <span class="main-icon machine"></span>
            <span class="main-title">机房环境一览</span>
            <span class="tool">
                <span class="main-icon refresh"></span>
            </span>
        </div>
        <div class="chart-container j-chart-machine"></div>
    </div>
    <div class="content-block j-content-block">
        <div class="title j-title">
            <span class="main-icon database"></span>
            <span class="main-title">交易量一览</span>
            <span class="tool">
                <span class="main-icon refresh"></span>
            </span>
        </div>
        <div class="chart-container j-chart-database"></div>
    </div>-->
</div>

<script src="/js/lib/highcharts.js"></script>
<script src="/js/index.js"></script>