<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EMP智能运维监控系统</title>
    <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/login.css"/>
    <script src="/js/lib/jquery-1.11.3.min.js"></script>
    <script src="/js/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="login">
    <div class="main">
        <div class="login-title"></div>
        <div class="login-form">
            <div class="main-form">
                <div class="icon"></div>
                <div class="row">
                    <label class="label">用户名</label>
                    <input class="input-user" type="text"/>
                </div>
                <div class="row">
                    <label class="label">密&nbsp;&nbsp;&nbsp;码</label>
                    <input class="input-pwd" type="password"/>
                </div>
                <div class="btn btn-primary login-button j-login">登录</div>
                <div class="msg"></div>
            </div>
        </div>
        <div class="footer">浙江网新恩普软件有限公司    版权所有</div>
    </div>
</div>
<script src="/js/login.js"></script>
</body>
</html>