{{> rscNav}}

<link rel="stylesheet" href="/css/bootstrapTable/bootstrap-table.min.css"/>
<link rel="stylesheet" href="/css/resourceMgnt/resourceMgnt.css"/>

<div class="main-box j-main">
    <input type="hidden" class="j-hostId" value="{{hostId}}"/>
    <table></table>
</div>
<script src="/js/lib/bootstrapTable/bootstrap-table.min.js"></script>
<script src="/js/lib/bootstrapTable/bootstrap-table-zh-CN.min.js"></script>
<script src="/js/cmn_resize.js"></script>
<script src="/js/resourceMgnt/monitorItem.js"></script>